.cont>p{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 13px;
  background-color: rgb(206, 197, 197);
  height: 30px;
}
.contain > h1{
font-family: 'Oswald', sans-serif;
text-align: center;
}
/* #icon{
  float: right;
} */


